:root {
    /* background */
    --c-dark: #141D2D;
    --c-light: #fff;
    --c-accent: #FF6B08;
  
    --c-dark-blue: #253045; 
    --c-grey-blue: #4A5771;
    --c-grey-light: #F1F2F2;
    --c-grey: #BCC1D2;
  
    /* text */
    --txt-c-dark: var(--c-dark);
    --txt-c-grey: #4F5B70;
    --txt-c-grey-light: var(--c-grey-light);
    --txt-c-accent: var(--c-accent);
    --txt-c-light: var(--c-light);
  
    /* modal*/
    --modal-bg-dark: rgba(20, 29, 45,0.8);
    /* font */
    --font-main: 'Acrom', sans-serif;
  
    /* container width */
    --vertical-scroll: 20px;
    --mobile: calc(300px + var(--vertical-scroll));
    --tablet: calc(640px + var(--vertical-scroll));
    --desktop: calc(900px + var(--vertical-scroll));
    --desktop-lg: calc(1146px + var(--vertical-scroll));
  
    /* animation */
    --animation-fast: 0.1s;
    --animation-slow: 0.3s;
    --animation-transition: all 0.2s ease-in-out;
  }
  
  @font-face {
    font-family: "Acrom";
    src: url("../fonts/acrom/Acrom-ExtraBold.eot");
    src: local("Acrom ExtraBold"), local("Acrom-ExtraBold"),
      url("../fonts/acrom/Acrom-ExtraBold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/acrom/Acrom-ExtraBold.woff") format("woff"),
      url("../fonts/acrom/Acrom-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
      font-family: 'Acrom';
      src: url('../fonts/acrom/Acrom-Bold.eot');
      src: local('Acrom Bold'), local('Acrom-Bold'),
          url('../fonts/acrom/Acrom-Bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/acrom/Acrom-Bold.woff') format('woff'),
          url('../fonts/acrom/Acrom-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
  }
  
  @font-face {
      font-family: 'Acrom';
      src: url('../fonts/acrom/Acrom-Regular.eot');
      src: local('Acrom Regular'), local('Acrom-Regular'),
          url('../fonts/acrom/Acrom-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/acrom/Acrom-Regular.woff') format('woff'),
          url('../fonts/acrom/Acrom-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }

body {
  font-family: var(--font-main);
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* COMMON */
  .mobile-element {
    display: block !important;
  }

.tablet-element {
  display: none !important;
}

.desktop-element {
  display: none !important;
}

.container {
  min-width: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: auto;
  padding: 30px 10px 55px 10px;
}

.container-left {
  align-items: flex-start;
}

.section-title {
  width: 280px;
  align-self: start;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-c-light);
}

.accent-btn {
  box-sizing: border-box;
  padding: 20px 30px;
  outline: 0;
    border: 1px solid var(--c-accent);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  background: var(--c-accent);
  color: var(--c-light);
  z-index: 2;
  transition: var(--animation-transition);
}

.accent-btn:hover {
  border: 1px solid var(--c-accent);
  background: transparent;
  color: var(--c-accent);
}


/* MODAL WINDOWS */
.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* width: calc(100% - 47px); */
  z-index: 10;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  pointer-events: none;
  background: var(--modal-bg-dark);
}

.modal-active {
  opacity: 1;
  pointer-events: all;
}

.modal-mobile-menu {
  background: var(--c-light);
}

.modal-mobile-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.mobile-menu-container{
  height: 70%;
  justify-content: space-between;
  margin: 0;
}

.modal-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  font-size: 18px;
  color: var(--c-grey-blue);
}

.mobile-menu-close-btn{
  padding: 10px 14px;
  background: var(--c-accent);
  color: var(var(--c-light));
}

.mobile-menu-items {
  display: flex;
  flex-direction: column;
}

.mobile-menu-item {
  margin-bottom: 35px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--txt-c-grey);
  transition: var(--animation-transition);
}

.mobile-menu-contacts {
  display: flex;
  flex-direction: column ;
}

.mobile-menu-my-tel {
  margin-bottom: 15px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
  transition: var(--animation-transition);
}

.mobile-menu-my-email {
  margin-bottom: 5px;
  text-decoration: none;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-dark);
  transition: var(--animation-transition);
}

.mobile-menu-item:hover,
.mobile-menu-my-tel:hover,
.mobile-menu-my-email:hover {
  color: var(--txt-c-accent);
}

.body-scroll-disable {
  overflow: hidden;
}

/* MY VIDEO MODAL */
.my-video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.my-video-content{
  width: 100%;
}

.my-video-close-btn {
  padding: 10px 14px;
  background: var(--c-light);
  color: var(--c-dark);
}

/* MODAL THANKS WINDOW */
.modal-thanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.modal-thanks-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 85px 30px;
  background: var(--c-light);
}

.thanks-btn {
  padding: 10px;
}

.modal-thanks-title {
  margin: 0;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--txt-c-accent);
}

.modal-thanks-descr {
  margin: 0;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
}

.modal-thanks-text {
  margin: 0;
  font-size: 17px;
  line-height: 130%;
  text-align: center;
}

/* PROJECT MODAL */
.project-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  box-sizing: border-box;
}

.project-modal-container {
  position: relative;
  height: 85%;
  padding: 45px 0;
  text-align: left;
  box-sizing: border-box;
  background: var(--c-light);
}

.project-modal-scrollable {
  overflow-y: auto;
  height: 100%;
  padding: 0 25px;
}

.project-modal-title {
  display: block;
  margin: 0 0 25px 0;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--txt-c-dark);
}

.project-modal-text {
  margin: 0 0 30px 0;
  font-size: 16px;
  line-height: 145%;
  color: var(--txt-c-dark);
}

.project-modal-img {
  width: 100%;
  margin-bottom: 30px;
}

/* FRONT PAGE */
.front-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  padding: 30px 10px 55px 10px;
  box-sizing: border-box;
  background: var(--c-dark);
}

.front-page .container {
  padding: 0;
}

.front-page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.logo-link {
transition: var(--animation-transition);
}

.logo-link:hover {
  transform: scale(1.1);
}

.front-page-main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.front-page-my-name {
  margin: 35px 0 10px 0;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--txt-c-accent);
}

.front-page-profession {
  width: 260px;
  margin: 0 0 20px;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-transform: uppercase;
  color: var(--txt-c-light);
}

.front-page-description {
  max-width: 330px;
  margin:0 0 20px;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  color: var(--txt-c-light);
} 

.navigation {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
}

.navigation-part{
  display: flex;
  align-items: center;
}

.logo-link {
  text-decoration: none;
}

.hire-me-btn {
  margin-right: 20px;
  text-decoration: none;
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: var(--txt-c-accent);
  transition: var(--animation-transition);
}

.hire-me-btn:hover {
  color: var(--txt-c-light);
}

.mobile-menu {
  display: block;
  width: 30px;
  height: 30px;
  background: var(--c-accent);
}

.mobile-menu i {
  width: 10px;
  padding: 7px;
  color: var(--c-light);
  transition: var(--animation-transition);
}

.mobile-menu i:hover {
  color: var(--txt-c-dark);
}

.front-page-my-info,
.front-page-about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.front-page-gallery-btn {
  margin-bottom: 35px;
}

.front-page-my-photo {
  width:100px;
  margin-bottom: 20px;
}

.front-page-my-descr {
  margin: 0 0 15px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: var(--txt-c-light);
}

.front-page-my-video-btn {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  padding: 10px 40px;
  border: 2px solid var(--c-accent);
  cursor: pointer;
  background: transparent;
  font-weight: bold;
  color: var(--txt-c-accent);
  transition: var(--animation-transition);
}

.front-page-my-video-btn:hover {
  background: var(--c-accent);
  color: var(--txt-c-light);
}

.front-page-my-video-btn .fa-play {
  margin-right: 7px;
  font-size: 9px;
}

.front-page-laptop {
  width: 250px;
  margin-bottom: 40px;
}

/* EXPIRIENCE*/

.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-skill-list{
  margin: 0;
  padding: 0;
}

.experience-title {
  width: 230px;
  margin: 0 0 30px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: var(--txt-c-light);
}

.experience-skill {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.experience-skill:last-child {
  margin-bottom: 0;
}

.experience-dots {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.experience-dots-item {
  margin-right: 5px;
  color: var(--c-grey-blue);
  font-size: 8px;
}

.experience-dots-item-accent {
  color: var(--c-accent);
}

.experience-text {
  margin: 0;
  color: var(--txt-c-light);
  font-size: 16px;
  line-height: 19px;
}

/* ABOUT PAGE */
.about-title {
  color: var(--txt-c-dark);
  text-align: left;
  width: 280px;
  margin: 20px 0;
}

.about-descr {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: var(--txt-c-light);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.about-descr span {
  background: var(--c-dark-blue);
  padding: 4px 9px;
}

.about-descr.tablet-element {
  display: none !important;
}

.about-text {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: var(--c-dark);
  margin: 0 0 30px 0;
}

.about-text:last-child {
  margin-bottom: 0;
}

.about-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.about-img-text {
  font-weight: bold;
  font-size: 150px;
  line-height: 180px;
  text-transform: uppercase;
  color: var(--txt-c-grey-light);
  writing-mode: tb-rl;
  margin: auto;
  position: relative;
}

.about-img {
  width: 235px;
  height: 254px;
  position: absolute;
  left: -35px;
  top: 55px;
}

/* PERSONAL PROJECT */
.personal-projects {
  background: var(--c-dark);
}

.personal-project-item-container {
  padding-top: 40px;
  background: var(--c-dark-blue);
  border-radius: 5px 5px 0 0;
  position: relative;
}

.personal-project-name {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-light);
  margin: 25px 0;
  display: flex;
}

.personal-project-img {
  width: 100%;
}

.personal-projects-title {
  margin-top: 20px;
}

.projet-item-dot-container {
  display: flex;
  position: absolute;
  top: 17px;
  left: 20px;
}

.personal-project-item {
  border-bottom: 1px solid var(--c-grey-blue);
  margin-bottom: 30px;
}

.personal-project-item:last-child {
  margin-bottom: 0;
}

.projet-item-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--c-grey-blue);
  margin-right: 7px;
}

.projet-item-dot:first-child {
  background: var(--c-accent);
}

.personal-project-icon {
  font-size: 18px;
  color: var(--c-accent);
  margin-right: 15px;
  margin-top: 3px;
}

.personal-project-btn {
  padding: 15px 20px;
  margin-bottom: 30px;
}

.swiper-container {
  width: 236px;
  height: auto;
  margin-bottom: 30px;
}



/* TEAM PROJECT */
.team-projects .container {
  position: relative;
  overflow-x: hidden;
  padding-bottom: 0;
}

.team-projects-title {
  color: var(--txt-c-dark);
  position: relative;
  margin-bottom: 40px;
}

.team-projects-title-bgd {
  position: absolute;
  top: -50px;
  left: 45px;
  font-weight: bold;
  font-size: 150px;
  line-height: 180px;
  text-transform: uppercase;
  color: var(--txt-c-grey-light);
  z-index: -1;
}

.team-project-name {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
  margin: 25px 0;
  display: flex;
}

.team-project-item {
  border-bottom: 1px solid var(--c-grey-light);
  margin-bottom: 30px;
}

.team-project-item:last-child {
  margin-bottom: 0;
}

 /* CALLBACK FORM */
.callback-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 35px 30px 40px 30px;
  background: var(--c-dark);
}

.callback-form-title {
  width: 245px;
  margin: 0 0 20px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 23px;
  line-height: 29px;
  color: var(--txt-c-light);
}

.callback-form-descr {
  max-width: 330px;
  margin: 0 0 30px 0;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-light);
}

.callback-form-input-container {
  display: flex;
  flex-direction: column;
}

.callback-form-input {
  width: 240px;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 10px 10px 15px 10px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid var(--c-grey-blue);
  text-align: center;
  background: transparent;
  color: var(--c-grey-blue);
}

.callback-form-submit {
  padding: 15px 13px;
}

.callback-form .container {
  padding-bottom: 40px;
}

.callback-form-input-error {
  border: 1px solid red;
}

/* CALCULATOR FORM SECTION */
.calculator {
  background: var(--c-dark);
}

.calculator .container {
  padding-bottom: 75px;
}

.calculator-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator-title {
  margin-top: 20px;
}

.calculator-icon {
  width: 195px;
}

.calculator-descr {
  width: 280px;
  margin: 0 0 30px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: var(--txt-c-light);
}

.calculator-descr span {
  padding: 5px;
  background: var(--c-accent);
}

.calculator-descr .calculator-descr-accent {
  padding: 5px 10px;
}

.calculator-title.section-title {
  align-self: center;
  width: 270px;
  margin-bottom: 20px;
}

.calculator-form {
  padding: 30px 25px 40px;
  background: var(--c-light);
  display: flex;
  flex-direction: column;
}

.calculator-text {
  max-width: 330px;
  margin: 20px 0 30px 0;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-light);
}

.calculator-form-title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 17px;
  line-height: 135%;
  color: var(--txt-c-dark);
}

.calculator-form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.calculator-form-select {
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid var(--c-grey-light);
  padding: 5px 0 17px 0;
  font-size: 17px;
}

.calculator-form-input-field {
  margin-right: 10px;
  cursor: pointer;
}

.calculator-form-input-radio-container {
  display: flex;
  align-items: center;
}

.calculator-form-input-label {
  margin-right: 15px;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
}

.calculator-form-total {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
}

.calculator-form-total-cost {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
}

.calculator-form-submit {
  padding: 15px 25px;
}

/* CONTACT SECTION  */
.contacts-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.contacts-left,
.contacts-right {
  text-align: center;
}

.contacts-text {
  margin: 0;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
  transition: var(--animation-transition);
}

.contacts-text:hover,
.contacts-social-icon:hover {
  color: var(--txt-c-accent);
}

.contacts-name,
.contacts-phone {
  font-weight: bold;
}

.contacts-profesion {
  margin-bottom: 20px;
  color: var(--txt-c-grey);
}

.contacts-phone,
.contacts-email {
  display: block;
  text-decoration: none;
  margin-bottom: 15px;
}

.contacts-email {
  margin-bottom: 0;
  color: var(--txt-c-grey);
}

.contacts-social {
  display: flex;
  justify-content: space-between;
  min-width: 220px;
  margin-top: 30px;
  margin-left: 10px;
  padding: 0;
}

.contacts-social-link {
  width: 30px;
  height: 30px;
  display: block;
  text-decoration: none;
}

.contacts-social-icon{
  font-size: 30px;
  color: var(--txt-c-dark);
  transition: var(--animation-transition);
}

/* MULTI SELECT */

.calculator-form-input .tech-input-container .choices__item {
  background: var(--c-accent);
  border: none;
  border-radius: 3px;
  position: relative;
}

.calculator-form-input .tech-input-container:after {
  content: "\f107";
  height: 0;
  width: 0;
  position: absolute;
  right: 10px;
  top: 45%;
  margin-top: -2.5px;
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.calculator-form-input .tech-input-container {
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid var(--c-grey);
  padding-left: 0;
  display: flex;
  align-items: center;
  min-height: 35px;
  box-sizing: border-box;
}

.calculator-form-input .choices__input {
  display: none;
}

.calculator-form-input .choices__item .choices__button {
  border-left: none;
  margin: 0;
  padding-left: 8px;
}

  .swiper-container {
    width: 236px;
  }

/* TABLET VERSION */
@media only screen and (min-width: 640px) {
  .mobile-element {
    display: none !important;
  }

  .tablet-element {
    display: block !important;
  }

  .container{
    min-width: 615px;
    padding: 25px 20px 70px;
  }

  /* FRONT PAGE */
  .front-page .container{
    padding: 25px 20px 100px;
  }

  .front-page-my-name {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 43px;
  }

  .front-page-profession {
    width: 400px;
    margin-bottom: 30px;
    font-size: 55px;
    line-height: 66px;
  }

  .profession-part1 {
    margin-right: 45px;
  }

  .profession-part2 {
    margin-left: 37px;
  }

  .front-page-description {
    max-width: 385px;
    margin-bottom: 40px;
    font-size: 17px;
  }

  .front-page-gallery-btn{
    width: 400px;
  }

  .front-page-my-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
  }

  .front-page-about-me-container {
    align-items: flex-start;
  }

  .front-page-my-photo {
    width: 140px;
    margin-right: 35px;
    margin-bottom: 0;
  }

  .front-page-my-descr {
    margin-bottom: 20px;
    text-align: left;
  }

  .front-page-my-video-btn {
    margin-bottom: 0;
  }

  .front-page-laptop {
    width: 400px;
    margin-bottom: 90px;
  }

  .about .container {
    position: relative;
  }

  /* ABOUT PAGE */
  .about-img-text {
    position: absolute;
    right: 22px;
    top: 228px;
    font-size: 200px;
    line-height: 240px;
  }

  .about-img {
    width: 361px;
    height: 390px;
    left: -115px;
    top: 70px;
  }

  .about-img-container {
    margin-bottom: 0;
  }

  .about-title {
    font-size: 50px;
    line-height: 60px;
    width: 600px;
  }

  .about-descr.tablet-element {
    display: flex;
    justify-content: column;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 60px;
  }

  .about-text {
    width: 330px;
  }

  .about-text:last-child {
    width: 320px;
    margin-bottom: 84px;
  }

  /* PERSONAL PROJECT */
  .personal-projects .container {
    padding-bottom: 90px;
  }

  .personal-projects-title {
    margin-top: 40px;
  }

  .personal-project-btn {
    padding: 15px 35px;
  }

  /* MULTI SELECT */
  .team-projects-title,
  .personal-projects-title {
    text-align: left;
    width: 400px;
    font-size: 50px;
    line-height: 60px;
  }

  .team-project-item,
  .personal-project-item {
    margin: 0 25px 40px 25px;
  }

  .team-projects .container {
    padding-bottom: 40px;
  }

  .team-projects-title-bgd {
    font-size: 200px;
    line-height: 240px;
    top: 19px;
  }

  .callback-form .container,
  .personal-projects .container,
  .team-projects .container {
    align-items: normal;
  }

  /* CALLBACK FORM */
  .callback-form .container {
    padding-top: 0;
    padding-bottom: 45px;
  }

  .callback-form-container {
    padding-bottom: 80px;
  }

  .callback-form-title {
    width: 380px;
    margin-top: 40px;
    font-size: 36px;
    line-height: 43px;
  }

  .callback-form-descr {
    max-width: 380px;
  }

  .callback-form-input,
  .callback-form-submit {
    width: 350px;
  }

  #callback-form-input-phone {
    margin-bottom: 40px;
  }

  /* CALCULATOR FORM SECTION */
  .calculator .container {
    align-items: normal;
    position: relative;
    padding-bottom: 90px;
  }

  .calculator-info-container {
    align-items: flex-start;
    position: relative;
  }

  .calculator-title.section-title {
    width: 605px;
    text-align: left;
    align-self: flex-start;
    font-size: 50px;
    line-height: 60px;
    margin-top: 45px;
    margin-bottom: 40px;
  }

  .calculator-descr {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 36px;
    line-height: 150%;
  }

  .calculator-icon {
    width: 344px;
    position: absolute;
    right: 20px;
    top: 430px;
    z-index: 1;
  }

  .calculator-text {
    text-align: left;
    margin-bottom: 55px;
  }

  .calculator-form {
    padding: 60px 80px 70px;
    z-index: 2;
  }

  .calculator-form-title,
  .calculator-form-select {
    line-height: 150%;
  }

  /* CONTACT SECTION  */
  .contacts-container {
    padding: 40px 20px 60px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contacts-right,
  .contacts-left {
    width: 50%;
    margin: 0;
  }

  .contacts-text {
    text-align: left;
  }

  .contacts-phone,
  .contacts-email {
    text-align: right;
  }

  .contacts-social {
    margin: 0;
    min-width: 200px;
  }

  .swiper-container {
    width: 554px;
  }
}

/* DESKTOP VERSION */

@media only screen and (min-width: 1000px) {
  .container {
    max-width: var(--desktop-lg);
  }
  
  .mobile-element {
    display: none !important;
  }

  .tablet-element {
    display: none !important;
  }

  .desktop-element {
    display: block !important;
  }

  /* FRONT PAGE */
  .front-page {
    padding-top: 45px;
  }
  
  .front-page-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 80px;
  }
  
  .front-page-main-info {
    position: relative;
    align-items: flex-start;
    order: 2;
    z-index: 2;
    width: 390px;
  }

  .hire-me-btn{
    transition: var(--animation-transition);
    margin: 0;
  }

  /* DESKTOP MENU */
  .desktop-menu-wrapper {
    margin-left: 135px;
  }

  .desktop-menu-items {
    display: flex;
    justify-content: space-between;
  }

  .desktop-menu-item {
    margin-right: 35px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--txt-c-grey);
  }

  .desktop-menu-item:last-child {
    margin-right: 0;
  }

  .desktop-menu-item:hover {
    color: var(--txt-c-accent);
  }

  /* FRONT PAGE */
  .front-page-my-photo {
    position: absolute;
    right: -110px;
    bottom: 330px;
    width: 256px;
    z-index: 0;
  }

  .front-page-my-name {
    margin-top: 0;
    margin-bottom: 15px;
    z-index: 2;
    text-align: left;
  }
  
  .front-page-profession {
    width: 530px;
    margin-left: -60px;
    margin-bottom: 35px;
    font-size: 70px;
    line-height: 84px;
    z-index: 2;
  }

  .profession-part1 {
    margin-right: 55px;
  }

  .profession-part2 {
    margin-left: 55px;
  }

  .front-page-description {
    max-width: 390px;
    margin-bottom: 85px;
    text-align: left;
  }

  .front-page-gallery-btn {
    width: 390px;
    margin-bottom: 60px;
    box-sizing: border-box;
    text-align: center;
  }

  .front-page-laptop {
    width: 370px;
    position: absolute;
    bottom: 25px;
    right: 0;
    margin: 0;
    z-index: 0;
  }

  .front-page-my-info {
    order: 3;
  }

  .desktop-hidden {
    display: none;
  }

  .front-page-my-descr {
    text-align: right;
  }

  .front-page-about-me-container {
    align-items: flex-end;
  }

  /* EXPIRIENCE*/
  .experience-wrapper {
    order: 1;
  }

  .experience-container {
    width: 180px;
    align-items: flex-start;
  }

  .experience-title {
    width: 180px;
    text-align: left;
  }

  /* MULTI SELECT */
  .team-project-item-wrapper,
  .personal-project-item-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .team-project-item,
  .personal-project-item {
    width: calc(50% - 20px);
  }

  .team-project-item:nth-child(odd),
  .personal-project-item:nth-child(odd) {
    margin: 0 20px 40px 0;
  }

  .team-project-item:nth-child(even),
  .personal-project-item:nth-child(even) {
    margin: 0 0 40px 20px;
  }

  .team-projects-title,
  .personal-projects-title {
    width: 600px;
    font-size: 70px;
    line-height: 84px;

  }

  .team-projects-title-bgd {
    top: 35px;
    left: 274px;
    font-size: 250px;
    line-height: 300px;
  }

  /* ABOUT PAGE */
  .about-title {
    font-size: 70px;
    line-height: 84px;
    width: 620px;
    margin-top: 0;
  }

  .about-text {
    width: 406px;
  }

  .about-text:last-child {
    width: 388px;
    margin: 0;
  }

  .about-content-wrapper {
    position: relative;
  }

  .about .container {
    flex-direction: row;
    justify-content: space-between;
    padding: 135px 10px;
  }

  .about-projects-bar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 159px;
    height: 465px;
    margin-bottom: 35px;
    margin-top: 15px;
    padding: 10px 5px;
    background: var(--c-accent);
  }

  .about-projects-count {
    margin: 0;
    font-weight: bold;
    font-size: 65px;
    line-height: 78px;
    color: var(--txt-c-light);
  }

  .about-projects-text {
    width: 125px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    line-height: 135%;
    color: var(--txt-c-dark);
  }

  .about-img-text {
    right: -223px;
    top: -23px;
    z-index: 1;
    font-size: 250px;
    line-height: 300px;
  }

  .about-img {
    width: 421px;
    height: 455px;
    left: -35px;
  }

  /* CALLBACK FORM */
  .callback-form-input-container {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .callback-form-title,
  .callback-form-descr {
    width: 100%;
  }

  .callback-form-descr {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .callback-form-input {
    max-width: 260px;
    width: 30%;
    margin-right: 40px;
    margin-bottom: 40px;
  }

  .callback-form-input:last-child {
    margin-right: 0;
  }

  .callback-form-submit {
    width: 265px;
  }

  /* CALCULATOR FORM SECTION */
  .calculator .container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 150px;
  }

  .calculator-info-container {
    box-sizing: border-box;
    width: calc(100% - 356px);
  }

  .calculator-form {
    width: 386px;
    box-sizing: border-box;
    padding: 40px 50px 50px;
  }

  .calculator-title.section-title {
    width: auto;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 70px;
    line-height: 84px;
  }

  .calculator-descr {
    margin-bottom: 55px;
  }

  .calculator-descr span {
    z-index: 3;
  }

  .calculator-text {
    max-width: 345px;
    z-index: 2;
  }

  .desktop-element .calculator-icon {
    width: 320px;
    right: 10px;
    top: 435px;
    z-index: 1;
  }

  /* CONTACT SECTION  */
  .contacts-right,
  .contacts-left {
    width: auto;
  }

  .contacts-text {
    margin: 0;
  }

  .contacts-phone {
    text-align: center;
  }

  .contacts-container {
   padding: 50px 20px;
  }

  /* MODAL WINDOWS */
  .modal-thanks-container{
    padding: 65px 125px 80px;
  }

  .modal-thanks-title {
  font-size: 24px;
  line-height: 29px;
  }

  .modal-thanks-descr {
    width: 350px;
    font-size: 36px;
    line-height: 43px;
  }

  .project-modal-container {
    max-width: 973px;
    padding: 95px;
  }

  .project-modal-img {
    margin-bottom: 50px;
  }

  .project-modal-title {
    margin-bottom: 40px;
  }

  .project-modal-text {
    font-size: 17px;
    line-height: 25px;
  }

  .project-modal-text:last-child {
    margin-bottom: 0;
  }

  .swiper-container {
    width: 740px;
  }

}
